<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sub/layout_search_map}">
<th:block layout:fragment="script">
    <script>
        $(function(){
            //푸터 변경
            var $footer = $('.ui_fixed ul li');
            $footer.removeClass('on');
            $footer.each(function(){
                $footer.eq(1).addClass('on');
                          //eq(바꿀 부분)
            });
        })
    </script>
</th:block>
<div id="search_map_page" class="conts_wrap" data-role="content" layout:fragment="content">
    <div class="map_wrap">
        <div id="input_wrap" class="cf">
            <input type="search" id="input_location" placeholder="원하시는 주소를 입력해 주세요" usemap="#input_img"/>
            <div id="submit"></div>
        </div>
        <div id="map"></div>
        <div id="convenience" class="btn"></div>
    </div>
    <div class="sec location_info_wrap">
        <div id="location_info">
            <div class="info_head sec_width">
                <div class="info_tit_wrap">
                    <div class="tit">매장별 재고</div>
                    <a class="reset" href="#"></a>
                </div>
                <div class="info_dc">
                    <p class="icon info"></p>
                    구매시점에 따라 실제 재고와 다를 수 있습니다.
                </div>
            </div>
            <div class="product_info_wrap">
                <div class="product_wrap info_box">
                    <a th:href="@{/sub/product_detail}" class="product sec_width">
                        <div class="pd_img img" style="overflow:hidden"><img src="images/new_tuna.png"></div>
                        <div class="description">
                            <div class="tit_wrap">
                                <p class="tit">삼각)뉴참치마요골드</p>
                            </div>
                            <div class="sub_cont">
                                <p class="place">GS25편의점</p>
                                <p class="price">1,000원</p>
                            </div>
                        </div>
                    </a>
                    <div class="push_wrap sec_width">
                        <p class="push">담기</p>
                    </div>
                </div>
                <div class="store_wrap info_box">
                    <a href="#" class="store sec_width">
                        <div class="st_img img" style="overflow:hidden"></div>
                        <div class="description">
                            <div class="tit_wrap">
                                <p class="tit">GS25 안양타운점</p>
                                <p class="how_far">143m</p>
                            </div>
                            <div class="sub_cont">
                                <p class="address">경기도 안양시 만안구 병목안로13번길 24</p>
                                <p class="address_num">14450</p>
                                <p class="tel">tel.031-123-4567</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!--content-->
</html>