<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{commons/sub/layout}">
<head>
	<title>sub4_page</title>
	<link rel="stylesheet" href="css/sub4.css"/>
	<link rel="stylesheet" href="css/clock.css"/>
	<link rel="stylesheet" href="../css/common.css"/>
	<script src="../js/jquery-1.9.1.min.js"></script>
	<script src="../js/jquery.easing.1.3.min.js"></script>
	<script src="../js/tool_tip.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/login_time.js"></script>
	<script src="js/clock.js"></script>
	<script src="js/script.js"></script>
</head>
<body>	
<div id="wrap">
	<section id="section" layout:fragment="content">
		<h1>보조금24 페이지입니다.</h1>
		<div id="section_top_wrap">
			<div id="section_top" class="center_login">
				Home > 보조금24
			</div><!-- section_top end -->
		</div><!-- section_top_wrap end -->
		<div id="section_middle" class="center">
			<div class="col1 cf">
				<div class="fixed_banner fl">
					<p class="title">내 가족이 받을 수 있는 보조금 한번에 확인, 신청</p>
					<p>로그인하면 회원/자격 정보로<br/>내게 딱 알맞는 혜택을 확인할 수 있어요.</p>
				</div>
				<div class="slide_banner first fl">
					<div class="slide_banner_cont slide_banner1">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">에너지 바우처</li>
							<li class="fl last cl">에너지 취약계층에서 전기, 도시가스, LPG 등을 구입할 수 있는 전자이용권(바우처) 지원 &#8251 난방비 지원 사업</li>
						</ul>
						<img src="images/bg_main_slide1.png" alt="배경슬라이드1"/>
					</div>
					<div class="slide_banner_cont slide_banner2 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">국민내일배움카드</li>
							<li class="fl last cl">직업훈련을 희망하는 국민에게 직업능력개발훈련비와 훈련장려금 지원</li>
						</ul>
						<img src="images/bg_main_slide2.png" alt="배경슬라이드2"/>
					</div>
					<div class="slide_banner_cont slide_banner3 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">근로.자녀장려금</li>
							<li class="fl last cl">소득과 재산이 적은 근로소득자에게 근로장려금을, 자녀가 있을 경우 자녀장려금 지급</li>
						</ul>
						<img src="images/bg_main_slide3.png" alt="배경슬라이드3"/>
					</div>
					<div class="slide_banner_cont slide_banner4 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">국민취업지원제도</li>
							<li class="fl last cl">직업훈련, 일경험, 복지 프로그램 연계 등 취업지원서비스 제공 및 생계안정 지원</li>
						</ul>
						<img src="images/bg_main_slide4.png" alt="배경슬라이드4"/>
					</div>
					<div class="slide_banner_cont slide_banner5 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">내집마련 디딤돌 대출</li>
							<li class="fl last cl">호당 2.5억 원 한도, 연 2.45%~3.55%(소득과 만기에 따라 차등)금리</li>
						</ul>
						<img src="images/bg_main_slide5.png" alt="배경슬라이드5"/>
					</div>
					<div class="slide_banner_cont slide_banner6 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">치매 치료 관리비 지원</li>
							<li class="fl last cl">60세이상 치매 어르신에게 약제비와 진료비의 본인부담금 지원 (최대 월 3만원)</li>
						</ul>
						<img src="images/bg_main_slide6.png" alt="배경슬라이드6"/>
					</div>
					<div class="slide_banner_cont slide_banner7 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">출산전후(유산.사산)휴가급여</li>
							<li class="fl last cl">출산전후(유산.사산)휴가 및 급여 지급(출산, 유산에 따라 차등지원)</li>
						</ul>
						<img src="images/bg_main_slide7.png" alt="배경슬라이드7"/>
					</div>
				</div>
				<div class="slide_banner second fl">
					<div class="slide_banner_cont slide_banner_cont2 slide2_banner1">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">국민내일배움카드</li>
							<li class="fl last cl">직업훈련을 희망하는 국민에게 직업능력개발훈련비와 훈련장려금 지원</li>
						</ul>
					</div>
					<div class="slide_banner_cont slide_banner_cont2 slide2_banner2 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">근로.자녀장려금</li>
							<li class="fl last cl">소득과 재산이 적은 근로소득자에게 근로장려금을, 자녀가 있을 경우 자녀장려금 지급</li>
						</ul>
					</div>
					<div class="slide_banner_cont slide_banner_cont2 slide2_banner3 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">국민취업지원제도</li>
							<li class="fl last cl">직업훈련, 일경험, 복지 프로그램 연계 등 취업지원서비스 제공 및 생계안정 지원</li>
						</ul>
					</div>
					<div class="slide_banner_cont slide_banner_cont2 slide2_banner4 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">내집마련 디딤돌 대출</li>
							<li class="fl last cl">호당 2.5억 원 한도, 연 2.45%~3.55%(소득과 만기에 따라 차등)금리</li>
						</ul>
					</div>
					<div class="slide_banner_cont slide_banner_cont2 slide2_banner5 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">치매 치료 관리비 지원</li>
							<li class="fl last cl">60세이상 치매 어르신에게 약제비와 진료비의 본인부담금 지원 (최대 월 3만원)</li>
						</ul>
					</div>
					<div class="slide_banner_cont slide_banner_cont2 slide2_banner6 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">출산전후(유산.사산)휴가급여</li>
							<li class="fl last cl">출산전후(유산.사산)휴가 및 급여 지급(출산, 유산에 따라 차등지원)</li>
						</ul>
					</div>
					<div class="slide_banner_cont slide_banner_cont2 slide2_banner7 alt">
						<ul>
							<li class="fl first cl">중앙부처</li>
							<li class="fl second cl">에너지 바우처</li>
							<li class="fl last cl">에너지 취약계층에서 전기, 도시가스, LPG 등을 구입할 수 있는 전자이용권(바우처) 지원 &#8251 난방비 지원 사업</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="clock_wrap">
				<div class="hour_wrap">
					<div id="change_day_btn" class="btn fl">start day</div>
					<div id="change_night_btn" class="btn fl">start night</div>
					<div id="change_sunset_btn" class="btn fl">start sunset</div>
					<div id="reset_btn" class="btn fl">reset</div>
				</div>
				<div id="clock">
					<div class="clock_day_bg"></div>
					<div class="clock_night_bg"></div>
					<div class="clock_sunset_bg"></div>
					<div class="hand_hour_wrap">
						<div class="clock_hand_hour"></div>
					</div>
					<div class="hand_min_wrap">
						<div class="clock_hand_minute"></div>
					</div>
					<div class="hand_sec_wrap">
						<div class="clock_hand_second"></div>
					</div>
					<div class="cl_num num1">1</div>
					<div class="cl_num num2">2</div>
					<div class="cl_num num3">3</div>
					<div class="cl_num num4">4</div>
					<div class="cl_num num5">5</div>
					<div class="cl_num num6">6</div>
					<div class="cl_num num7">7</div>
					<div class="cl_num num8">8</div>
					<div class="cl_num num9">9</div>
					<div class="cl_num num10">10</div>
					<div class="cl_num num11">11</div>
					<div class="cl_num num12">12</div>
				</div>
			</div>
		</div>
	</section>
</div><!-- wrap end -->
</body>
</html>