<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_main}">
<div id="recipe_write_page" class="conts_wrap recipe_menu" data-role="content" layout:fragment="content">
    <div class="sec sec_width">
        <ul class="recipe_menu_list">
            <li>
                <a href="#recipe2_1">
                    <p class="icon icon01"></p>
                    <p class="tit">도시락/김밥</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon icon02"></p>
                    <p class="tit">햄버거/샌드위치</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon icon03"></p>
                    <p class="tit">라면/면</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon icon04"></p>
                    <p class="tit">치킨</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon icon05"></p>
                    <p class="tit">디저트/빵/과자</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon icon06"></p>
                    <p class="tit">음료수/차/유제품</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon icon07"></p>
                    <p class="tit">술/술안주</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon icon08"></p>
                    <p class="tit">즉석식품</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon icon09"></p>
                    <p class="tit">냉장간편식품</p>
                </a>
            </li>
        </ul>
    </div>
</div><!--content-->
</html>