<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sub/layout_login}">
<th:block layout:fragment="script">
    <script>
        $(function(){
            //푸터 변경
            var $footer = $('.ui_fixed ul li');
            $footer.removeClass('on');
            $footer.each(function(){
                $footer.eq(3).addClass('on');
                          //eq(바꿀 부분)
            });
            //헤더 변경
            $('.header .header_wrap .page_tit').text('My');
        })
    </script>
</th:block>

<div id="my_page" class="conts_wrap my" data-role="content" layout:fragment="content">
    <div class="sec profile_cont_wrap">
        <div class="profile_cont sec_width">
            <div class="profile_img_wrap">
                <div class="profile_img">
                    <img th:src="@{../images/profile_img.png}" alt="내 프로필 사진">
                </div>
            </div>
            <div class="my_info">
                <div class="level">WELCOME</div>
                <div class="name" th:text="|${nm}님|">홍길동님</div>
                <div class="f_num">
                    <div class="follower">팔로워 <span class="num">20</span></div>
                    <div class="following">팔로잉 <span class="num">50</span></div>
                </div>
            </div>
        </div>
        <ul class="sec_width">
            <li>
                <a href="#">
                    <p class="icon eye"></p>
                    <span>최근 본</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon card"></p>
                    <span>구매내역</span>
                </a>
            </li>
            <li>
                <a th:href="@{/user/my_pick}" data-ajax="false">
                    <p class="icon heart"></p>
                    <span>MY Pick</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="icon review"></p>
                    <span>나의 후기</span>
                </a>
            </li>
            <li>
                <a th:href="@{/user/recipe_write}" data-ajax="false">
                    <p class="icon note"></p>
                    <span>레시피 작성</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sec my_menu_wrap">
        <ul class="sec_width">
            <li class="on"><a href="#">결제 정보 <span></span></a>
                <ul class="sub_menu">
                    <li><a href="#">결제·적립·할인 설정</a></li>
                    <li><a href="#">현금영수증 번호 관리</a></li>
                    <li class="margin_none"><a href="#">모바일 영수증</a></li>
                </ul>
            </li>
            <li class="on"><a href="#">나의 정보 <span></span></a>
                <ul class="sub_menu">
                    <li><a href="#">개인 정보 관리</a></li>
                    <li><a href="#">주소 관리</a></li>
                    <li><a th:href="@{/sub/logout}" data-ajax="false">로그아웃</a></li>
                    <li class="margin_none"><a href="/user/update" data-ajax="false">회원 정보 수정</a></li>
                    <li class="margin_none"><a href="#" class="exit" data-ajax="false">회원 탈퇴</a></li>
                </ul>
            </li>
            <li class="on"><a href="#">문의 및 공지 <span></span></a>
                <ul class="sub_menu">
                    <li><a href="#">고객 센터</a></li>
                    <li><a href="#">자주 묻는 질문</a></li>
                    <li class="margin_none"><a href="#">공지 사항</a></li>
                    <li class="margin_none"><a href="#">1:1 문의</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div><!--content-->
</html>