<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
    <div class="header_wrap">
        <a href="#" class="back_btn" data-rel="back" data-direction="reverse"></a>
        <input type="search" name="search" class="main_search" placeholder="검색어를 입력해 주세요.">
        <div class="head_icon">
            <div class="basket"><a href="#"></a></div>
        </div>
    </div>
</div>

</html>