<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_main}">
<div id="recipe2_1" class="conts_wrap recipe2" data-role="content" layout:fragment="content">
    <a href="#recipe2_2"><input type="search" name="search" id="recipe2_1_search" placeholder="검색어를 입력해 주세요."></a>
    <div class="swiper recipe_tab">
        <ul class="cf swiper-wrapper">
            <li class="fl swiper-slide on"><a href="#">별점순</a></li>
            <li class="fl swiper-slide"><a href="#">조회순</a></li>
            <li class="fl swiper-slide"><a href="#">최신순</a></li>
            <li class="fl swiper-slide"><a href="#">가격 높은순</a></li>
            <li class="fl swiper-slide"><a href="#">가격 낮은순</a></li>
        </ul>
    </div>
    <div class="recipe_tabmenu">
        <ul class="food_cont sec sec_width">
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg1.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">연두부 티라미수</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">5.0</p>
                            <p class="rview_num">(311)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg2.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">말랑초코 스모어</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(350)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg3.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">몽블랑</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(321)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg4.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">부쉬드노엘</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(380)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg5.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">앙버터브레드</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(300)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg6.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">초코견과 죠리퐁</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.7</p>
                            <p class="rview_num">(250)</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="food_cont sec sec_width">
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg5.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">연두부 티라미수</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">5.0</p>
                            <p class="rview_num">(311)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg2.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">말랑초코 스모어</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(350)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg3.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">몽블랑</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(321)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg4.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">부쉬드노엘</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(380)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg5.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">앙버터브레드</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(300)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg6.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">초코견과 죠리퐁</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.7</p>
                            <p class="rview_num">(250)</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="food_cont sec sec_width">
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg1.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">연두부 티라미수</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">5.0</p>
                            <p class="rview_num">(311)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg2.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">말랑초코 스모어</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(350)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg3.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">몽블랑</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(321)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg4.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">부쉬드노엘</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(380)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg5.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">앙버터브레드</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(300)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg6.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">초코견과 죠리퐁</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.7</p>
                            <p class="rview_num">(250)</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="food_cont sec sec_width">
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg1.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">연두부 티라미수</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">5.0</p>
                            <p class="rview_num">(311)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg2.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">말랑초코 스모어</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(350)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg3.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">몽블랑</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(321)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg4.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">부쉬드노엘</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(380)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg5.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">앙버터브레드</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(300)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg6.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">초코견과 죠리퐁</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.7</p>
                            <p class="rview_num">(250)</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="food_cont sec sec_width">
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg1.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">연두부 티라미수</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">5.0</p>
                            <p class="rview_num">(311)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg2.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">말랑초코 스모어</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(350)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg3.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">몽블랑</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.9</p>
                            <p class="rview_num">(321)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg4.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">부쉬드노엘</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(380)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg5.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">앙버터브레드</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.8</p>
                            <p class="rview_num">(300)</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_img">
                <a href="#recipe_3">
                    <p class="recipe_img img">
                        <img src="images/foodimg6.png" alt="레시피 이미지"/>
                    </p>
                    <div class="cont_info">
                        <p class="tit">초코견과 죠리퐁</p>
                        <div class="review_wrap">
                            <p class="star icon"></p>
                            <p class="score">4.7</p>
                            <p class="rview_num">(250)</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>