<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
    <div class="header_wrap">
        <!-- <h1 id="logo"><a href=""><img src="" alt=""></a></h1> -->
        <a href="address_input.html" class="address">주소를 설정해 주세요.</a>
        <div class="head_icon">
            <div class="alarm"><a href="#"></a></div>
            <div class="basket"><a href="#"></a></div>
        </div>
    </div>
</div>

</html>